@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
    --bg-main-color: #213555;
    --bg-card-color: #D8C4B6;
    --text-color: #F5EFE7;
    --extra-color: #3E5879;
}

#gitimg {
    height: 25px;
}
