:root {
    --bg-main-color: #213555;
    --bg-game-color: #D8C4B6;
    --text-color: #F5EFE7;
    --border-color: #3E5879;
    --box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
}

html {
    background-color: var(--bg-main-color);
    color: var(--text-color);
}

h1 {
    font-size: 2.5em;
    line-height: calc(1ex / 0.42);
    text-align: center;
}

h2 {
    font-size: 2em;
    line-height: calc(1ex / 0.42);
    text-align: center;
}

p {
    font-size: 1em;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.visible {
    opacity: 1;
    pointer-events: all;
}

#intro-screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-main-color);
    color: var(--text-color);
    text-align: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 300px;
    width: 90%;
    margin: 0 auto;
}

#intro-screen label {
    font-size: 1.2em;
    display: block;
}

#intro-screen input {
    display: block;
    width: 100%;
    font-size: 1em;
    padding: 0.5em;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--bg-game-color);
    color: var(--bg-main-color);
    text-align: center;
}

#intro-screen button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.5em 1em;
    background-color: var(--bg-game-color);
    color: var(--bg-main-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    cursor: pointer;
}

.board {
    display: grid;
    height: 240px;
    width: 240px;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--bg-game-color);
    color: var(--card-text-color);
    box-shadow: var(--box-shadow);
    margin: 0px auto;
    touch-action: manipulation;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    color: var(--bg-main-color);
    touch-action: manipulation;
    width: 80px;
    height: 80px;
    font-size: 2em;
    transition-duration: 0.5s;
}

.cell:hover {
    background-color: #d3d3d3;
}

.reset-container {
    display: flex;
    justify-content: center;
    padding: 1em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#gitimg {
    height: 25px;
}
