:root {
    --bg-main-color: #213555;
    --bg-game-color: #D8C4B6;
    --text-color: #F5EFE7;
    --border-color: #3E5879;
    --box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
}

html {
    background-color: var(--bg-main-color);
    color: var(--text-color);
}

h1 {
    font-size: 2.5em;
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42) 0;
    text-align: center;
}

h2 {
    font-size: 2em;
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42) 0;
    text-align: center;
}

p {
    font-size: 1em;
    line-height: calc(1ex / 0.32);
    margin: calc(1ex / 0.32);
}

.board {
    display: grid;
    height: 250px;
    width: 250px;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--bg-game-color);
    color: var(--card-text-color);
    box-shadow: var(--box-shadow);
    margin: 0px auto;
    touch-action: manipulation;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    color: var(--bg-main-color);
    touch-action: manipulation;
    width: 83.3px;
    height: 83.3px;
    font-size: 2em;
}

.reset-btn {
    display: flex;
    justify-content: center;
    padding: 1em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#gitimg {
    height: 25px;
}
